{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" id="container-form">

<form class="well form-horizontal" action="{{ path('availability-all') }}" method="post"  id="contact_form">
    <fieldset>

        <!-- Form Name -->
        <legend>Set a Date Range to find which room is available</legend>



    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label">Date In</label>
        <div class="col-md-4 inputGroupContainer">
            <div class='input-group date' id='datetimepicker1'>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input name="check_in_date" placeholder="Date In" type="date" class="form-control" />
            </div>
        </div>
    </div>



    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label">Date Out</label>
        <div class="col-md-4 inputGroupContainer">
            <div class='input-group date' id='datetimepicker1'>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input name="check_out_date" placeholder="date_out" type="date" class="form-control" />
            </div>
        </div>
    </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" name="submit" class="btn btn-primary btn-lg btn-block" >Send <span class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>
        {% if rooms is defined %}
            <h4>Those rooms are booked already and not available in the selected date range:  {{ check_in_date }} - {{ check_out_date }} </h4>

            {% for rooms in rooms  %}
                <ul>
                    <li> {{ rooms}}</li>
                </ul>
            {% endfor %}
        {% endif %}
    </fieldset>
</form>
    </div>






    {% block javascripts %}

    {% endblock %}
{% endblock %}