{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" id="container-form">

<form class="well form-horizontal" action="{{ path('revenue-on-range') }}" method="post"  id="contact_form">
    <fieldset>

    <!-- Form Name -->
    <legend>Fill the blanks to get the revenue on specific date range</legend>



    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label">Date In</label>
        <div class="col-md-4 inputGroupContainer">
            <div class='input-group date' id='datetimepicker1'>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input name="date_in" placeholder="Date In" type="date" class="form-control" />
            </div>
        </div>
    </div>



    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label">Date Out</label>
        <div class="col-md-4 inputGroupContainer">
            <div class='input-group date' id='datetimepicker1'>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input name="date_out" placeholder="date_out" type="date" class="form-control" />
            </div>
        </div>
    </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" name="submit" class="btn btn-primary btn-lg btn-block" >Send <span class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>
{% if revenue is defined %}
    <h2>Total revenue is equal to
        {{ revenue}}
    </h2>
{% endif %}

        {% if cost is defined %}
            <h2>Total cost is equal to
                {{ cost}}
            </h2>
        {% endif %}

        {% if profit is defined %}
            <h2>Total profit is equal to
                {{ profit}}
            </h2>
        {% endif %}
    </fieldset>
</form>
    </div>






    {% block javascripts %}

    {% endblock %}
{% endblock %}